.form-group {
  margin-bottom: 30px;
  width: 25%;
  margin: 0 auto 30px;
}

.arrow {
  font-size: 30px;
}

.output-box {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.arrow,
.output-box {
  text-align: center;
}

select.form-control {
  width: 100%;
  font-size: 14px;
  text-align: center;
}

.generate-button {
  display: block;
  margin: 0 auto;
}

h3 {
  text-align: center;
  margin-bottom: 10px;
}
